
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "Roboto Mono", monospace;
  --font-sans: "Roboto Mono", monospace;

  --color-background: #140d0a;
  --color-surface: #241612;
  --color-primary: #d8914b;
  --color-foreground: #f5eee8;
  --color-muted: #b49a80;
  --color-border: #493026;
}

:root {
  font-family: "Roboto Mono", monospace;
  color: #f5eee8;
  background-color: #140d0a;
  font-synthesis: none;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
